body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #FA804C;
    font-size: 70px;
}

h1 span {
    color: #363958;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}

h5 {
    color: #363958;
    font-weight: bold;
    font-size: 25px;
}

h5 span {
    color: #FA804C;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
}

header {
    background-color: #FFF9F4;
}

.btn {
    border-radius: 10px;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.btn:hover {
    background: linear-gradient(180deg, #3E3E3E 0%, #1f1f58 100%);
    ;
}

.logo img {
    width: 300px;
}

.header-shoes-part img {
    width: 80%;
}

/* .carousel-img{
    width: 100%;
    height: 500px;
    object-fit: contain;
} */

.carousel-indicators li {
    background-color: #CECECE;
    height: 10px;
    width: 16px;
    border-radius: 6px;
    border: none;
}

.carousel-indicators .active {
    background-image: linear-gradient(to right, #ee5872c9, #ee5872c9);
    width: 45px;
}

#casual-shoes h1,
#formal-shoes h1 {
    color: #363958 !important;
}

.casual-shoe,
.formal-shoe {
    border: 0;
    border-radius: 20px;
}

.casual-shoe-bg {
    background-color: #F1F1F1;
    border-radius: 20px;
}

.casual-shoe img,
.formal-shoe img {
    width: 300px;
    height: 300px;
}

.casual-shoe-footer,
.formal-shoe-footer {
    border: 0;
    background-color: white;
}

.find-icon img {
    width: 80px;
    height: 80px;
}

.link-text li {
    font-size: 18px;
    font-weight: 400;
}

.payment i {
    width: 30px;
    height: 30px;
}

.footer-link {
    background: #06172e;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    color: #fff;
}